<div class="row" style="margin-top:90px">

  <div class="col-md-2 h-25 rounded border border-light text-white bg-dark">

    <h5 class="card-title">Top 5 Scores</h5>

    <ol id="topScores">
      <li>TNR 3500</li>
      <li>CLD 3250</li>
      <li>AAA 1500</li>
      <li>TOM 1250</li>
      <li>ZZZ 1000</li>
    </ol>

  </div>

  <div class="col-md-8" id="content"></div>

  <div class="col-md-2 h-25">
    <ul id="navButtons" class="list-group list-group-flush text-center">
      <li class="list-group-item rounded border border-light mb-3 bg-dark">
        <a class="text-danger" href="#">Play</a>
      </li>
      <li class="list-group-item rounded border border-light mb-3 bg-dark">
        <a class="text-danger" href="#">Tech</a>
      </li>
      <li class="list-group-item rounded border border-light mb-3 bg-dark">
        <a class="text-danger" href="#">Contact</a>
      </li>
    </ul>
  </div>

</div>
